.p {
	/* default styles */
	width: auto;
border-top:2px;
	border: solid 1px #000;
	background-color: #fff;
}

.change {
	/* new styles */
	
	border: dashed 1px #000;
	background-color: #71E5F4;
}

#submit {
	width: 120px;
}
